library IEEE;
use IEEE.STD_LOGIC_1164.all;
use IEEE.STD_LOGIC_arith.all;
use IEEE.STD_LOGIC_SIGNED.all;
library work;
use work.FP_types.all;

entity ##FILTER NAME## is
  port (
    rstb    : in  std_logic; -- asynchronous reset asynchrone active low
    clk     : in  std_logic; -- global clock
    u       : in  datain; -- input data
    y       : out dataout); -- filtered output
end ##FILTER NAME##;

architecture RTL of ##FILTER NAME## is
##SIGNALS##

begin
##INTERMEDIATE VARIABLES AND OUTPUT##

  S1: process(rstb,clk)
  begin
    if rstb = '0' then                  -- asynchronous reset
##RESET##
    elsif clk'event and clk = '1' then  -- rising clock edge
##STATES##
    end if;  
  end process S1;

end RTL;

