{% extends "base.html" %}

{% block script %}
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="{{base_urm}}useful.js"></script>

<script>
/* called when the form is submitted; call the image */
function validate()
{
	var s = $('#FPFsum').val();
	var q = "sum=" + s.split('\n').join(":") + "&" + queryString("form", "FPFsum");	// build the query
	/* load the image */
	$("#Sum_image").attr('src', '{{base_url}}spinner.gif');	/* first load the spinner */
	$("#Sum_image").attr('src', '{{base_url}}Sum.jpg?'+q+'&width=600');		/* and then load the image */
	/* change the different links */
	{% for img in imageFormats %}
	$("#a_{{img}}").attr( 'href', '{{base_url}}Sum.{{img}}?'+q);
	{% endfor %}
	/* get the latex code */
	$.get('{{base_url}}Sum.tex?' +q, function(data)
	{
		$('#str_latex').html(data.split("\n").join("<br/>"));
	});
}
</script>

{% endblock %}


{% block content %}
Blablabla... <BR/>
This page allows to display a sum of Fixed-Point values, and export it in LaTeX (Tikz), pdf of jpeg.
<div class="container">
<form method="POST" action="javascript:validate();" id="form">
	<label for="FPFsum">FPF of the operands: </label><textarea id="FPFsum" type="text" rows="6" cols="10"></textarea><br/>
	<label for="result">FPF of the result: </label><input name="result" type="text"/>
	<p/>
	<label for="colors">Color: </label>
	<select name="colors">
		{% for k,c in colors %}
		<option value="{{k}}">{{c[3]}}</option>
		{% endfor %}
	</select>
	<br/>
	<input type="checkbox" name="axis" checked>Axis for bit 0
	<br/>
	<label for="sort">Sorting the operands</label>
	<select name="sort">
		<option value="no">No</option>
		<option value="lsb">Ascendant lsb</option>
		<option value="msb">Descendant msb</option>
	</select>
	<br/>
	<input type="checkbox" name="hatches">Hatches (for bits in the operands outside the FPF of the result)
	<p/>
	<label for="xshift">Abscissa shift (X): </label><input name="xshift" value="0" type="text"/><br/>
	<label for="yshift">Ordinate shift (Y): </label><input name="yshift" value="0" type="text"/>
	<p/>
	<input type="submit" />
</form>
</div>

<div class="r-container">
	<div id="result">
		<img id='Sum_image'><br/>
		{% for img in imageFormats %}
			<a id='a_{{img}}' href=''>{{img}}</a>&nbsp;&nbsp;
		{% endfor %}
		<br/>
		<table border=1><div id='str_latex'></div></table>

	</div>
</div>


{% endblock %}