{% extends "base.html" %}
{% block script %}

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="{{base_url}}useful.js"></script>
<script>

	var resultJson;

	/* Clears the uploaded file */
    function clearUpload()
    {
        $("#fileupload").val('');
        $("#fileupload").disabled = false;
        $("#text").html('');
    }

	/* Loads and processes the text in the .txt uploaded file. */
    function loadTxt()
    {
        var doc = document.getElementById("fileupload");
        var reader = new FileReader();
        var file = doc.files[0];

        reader.readAsText(file);
        $(reader).on('load', fillUpTxtArea);

    }
	/* Disables upload option when some text is entered in text area. */
    function disableUpload()
    {
        if( $('#text').text().toString().length != 0)
            document.getElementById("fileupload").disabled = true;
        else
            document.getElementById("fileupload").disabled = false;

    }


	/* Loads the text in the uploaded text file and fills up the text area with its content. */
    function fillUpTxtArea(e)
    {
        var div = document.getElementById('text');
        var file = e.target.result,
            results;
        if (file && file.length) {
            results = file.split("\n");
            var ci = "";
            for(var i = 0; i < results.length; i++)
            {
                if(results[i].length!= 0)
                {
                    ci+= results[i];
                    ci+="@" ;
                    var spanEl = document.createElement("SPAN");
                    var textEl = document.createTextNode(results[i].toString());
                    spanEl.appendChild(textEl);
                    spanEl.appendChild(document.createElement("br"));
                    div.appendChild(spanEl);
                }
            }

            validateTextArea();
        }
    }

    /* When an input is given to wl, FPF must be disabled */
	function disableFPF()
	{
	    if($('#wl').val().length > 0)
			document.getElementById("FPF").disabled= true;
	    else
	        document.getElementById("FPF").disabled= false;
    }

    /* When an input is given to FPF, wl must be disabled */
    function disableWL()
	{
	    if($('#FPF').val().length > 0)
		    document.getElementById("wl").disabled=true;
	    else
			document.getElementById("wl").disabled=false;
	}

	/* called when the form is submitted; call the image */
    function clickSubmit()
    {
		var dlButt = document.createElement("button");	// The button corresponding to download the results file
		dlButt.id= "dl-res";
		dlButt.innerHTML = "Download the results";
		dlButt.style.minHeight= '30px';
		dlButt.setAttribute('onclick', 'dlResFile();');
		document.getElementById("result").innerHTML = dlButt.outerHTML;

        var div = document.getElementById("text");
        var ci_s =processDiv(div.innerText);
        var ci = ci_s.join("@");



		/*Making of ci_s*/
        var wl = $('#wl').val();		// gets the wordlength/FPF

		if(wl.length == 0)
		{
		    wl = $('#FPF').val();
		}

		/* build the query */
        var q = '{{base_url}}Constant/' + ci + '?';
        if (msgValidFPF(wl)=='')
            q = q + 'FPF='+wl;
        else
            q = q + 'WL='+wl;

        /* get the json */
        $.ajax({ url: q}).done( function( data)
        {
            resultJson= data;
            html = "";
            html = "<table style=\"width:100%\">\n";
            html += "<tr>\n<th align = left>Const/Interval</th>\n <th align = left>Mantissa</th> \n<th aligne = left>LSB</th>>\n <th align = left>FPF</th>\n<th align = left>Absolute Error</th>\n<th align = left>Real Error</th>\n <th align = left>Status</th>\n </tr>";
            for(var i=0; i < Object.keys(data).length ; i++)
            {
                html += "<tr>"
                html += "<td>" + ci_s[i]+ "</td>";

                var startStr = "<td>"
                if(data[i]['error'])
                {
                    startStr = "<td style=\"color:darkred\">";
                }
                else
                {
                    startStr = "<td>";
                }
                html += startStr + data[i]["integer"] + "</td>\n";
                html += startStr + data[i]["lsb"] + "</td>\n";
                html += startStr + data[i]["FPF"] + "</td>\n";
                html += startStr + data[i]["error_abs"] + "</td>\n";
                html += startStr + data[i]["error_rel"] + "</td>\n";
                if(data[i]['error'])
                {
                    html += startStr + data[i]["error"] + "</td>\n";
                }
                else
                {
                    html += startStr + "No error" + "</td>\n";
                }
                html += "</tr>";
            }
            html += "</table>";
			/*Table for images: */
            html += "<table style=\"width:100%\">\n";
            html += "<tr>\n<th align = left>Const/Interval</th>\n <th align = left>Image</th></tr>";
            for(var i=0; i < Object.keys(data).length  ; i++)
            {
                html += "<tr>"
                html += "<td  align = left >" + ci_s[i]+ "</td>";
                if(!data[i]['error'])
                {
                    html += "<td  align = left >" + "<a href=\"" + data[i]["FPF_image"] + "\">" + "<img src=" + data[i]["FPF_image"] + " alt=" + "Loading..." + "style=\"width:128px;height:128px;\"	"+"/>" + "</td>\n";
                }
                else
                {
                    html += "<td>" + "<p style=\"color:darkred\" >" + data[i]['error'] + "</p>" +"</td>\n";
                }
                html += "</tr>";
            }
            html += "</table>";

//            $("#result").html(dlButt.outerHTML +"<br>"+ html);
			document.getElementById("result").innerHTML += html;
        });
    }

    /* Called when "Download the result's button is clicked".
    Code taken from : https://stackoverflow.com/questions/3665115/create-a-file-in-memory-for-user-to-download-not-through-server/18197341?noredirect=1#answer-3665147 */
    function dlResFile()
	{
	    var ci_s =processDiv(document.getElementById("text").innerText); /* The constants or intervals given as input */
	    var strFile = "Const/Int\t\t\t\tlsb\t\t\t\tFPF\n"; /* The string to put in downloadable file */

		for(var i = 0; i < ci_s.length; i++)
		{
		    strFile += ci_s[i] + "\t\t\t\t" + resultJson[i]["lsb"] + "\t\t\t\t" + resultJson[i]["FPF"] + "\n";
		}

	    var a = window.document.createElement('a');
        a.href = window.URL.createObjectURL(new Blob([strFile], {type: 'text'}));
        a.download = 'result.txt';

        document.getElementById("result").appendChild(a); // Append anchor to body.
        a.click();

        document.getElementById("result").removeChild(a); // Remove anchor from body
	}

	/* To set one of wl or FPF required for submit */
    jQuery(function ($) {
    var $inputs = $('input[name=wl],input[name=FPF]');
    $inputs.on('input', function () {
        $inputs.not(this).prop('required', !$(this).val().length);	// Set the required property of the other input to false if this input is not empty.
    });
});

</script>
{% endblock%}


{% block content %}
Blablabla... This page allows to convert a real constant (literal constant or an interval, e.g. <i>0.124</i> or <i>[-100;100]</i>) into a fixed-point representation.

<p>

<div class="container" >
	<div style="display: inline-block">
		<!-- form -->
		<h2 class="headings"> Form</h2>
		<form method="POST" action="javascript:clickSubmit();" id="form" class="wrapper-constants-form">
			<p  class="first-label-constants-form tooltip" >Constants:
				<!--<img src="tooltip.jpg" width="15" height="15" style="float: right; display: inline-block;" >-->
				<span class="tooltiptext">Enter your constants or intervals here</span>
			</p>
			<div  id="text" name="text"  contenteditable="true" class = "div-text-constants-from"  >

			</div>
			<label class="upload-label-constants-form">Import a file:</label>
			<span  class="upload-span-constants-form">
				<input type="file" accept = ".txt" name="fileupload" style="background-color: lightgrey" value="fileupload" id="fileupload" onchange='loadTxt(this.files)'/>
			</span>
			<label class="explanation-constants-form">(It will be displayed in the upper text area.)</label>
			<label for="wl" class="wl-label-constants-form">Word Length: </label>
			<input class="yesno wl-input-constants-form" id="wl" type="input" required onkeyup="verifyWL(this);" oninput="disableFPF();" size="8"/>
			<label class="FPF-label-constants-form"> or the FPF:</label>
			<input class="yesno FPF-input-constants-form" id="FPF" type="input" required onkeyup="verifyFPF(this);" oninput="disableWL();" size="8"/>
			<button id="file-reset"  type="button" onclick="clearUpload()" class="upload-span-constants-form reset-button-constants-form">Reset</button>
			<input type="submit" class="submit-button-constants-form"/>
		</form>
		<h2 class="headings"> Result</h2>
	<!--  result -->
	</div>
		<div id="result" >


	</div>


</div>

</div>
</div>

<!--
	Fixed-Point Representation: <br/>
	The constant is approximated by: <br/>
	Absolute error: <br/>
	Relative error:<br/>
	<div class="r-container">
	<div id="result">
		<img id='FPF_image'><br/>
		{% for img in imageFormats %}
			<a id='a_{{img}}' href=''>{{img}}</a>&nbsp;&nbsp;
		{% endfor %}
		<br/>
		<table border=1><div id='str_latex'></div></table>
	</div>
 -->





{% endblock %}