{% extends "base.html" %}
{% block script %}

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="{{base_url}}useful.js"></script>
<script>

/* Loads and processes the text in the .txt uploaded file. */
function loadTxt()
{
    var doc = document.getElementById("fileupload");
    var reader = new FileReader();
    var file = doc.files[0];

    reader.readAsText(file);
    $(reader).on('load', fillUpTxtArea);

 }
 /* Disables upload option when some text is entered in text area. */
 function disableUpload()
 {
     console.log("changed");
     if( $('#text').val().length != 0)
	     document.getElementById("fileupload").disabled = true;
     else
         document.getElementById("fileupload").disabled = false;
 }

 /* Fills up text area with content of uploaded text in input file. */
function fillUpTxtArea(e)
{
    console.log("in fill up")
    var file = e.target.result,
        results;
    if (file && file.length) {
        results = file.split("\n");
        var ci = "";
			//todo: use join
			for(var i = 0; i < results.length; i++)
			{
	    		if(results[i].length!= 0)
				{
	    			ci+= results[i];
	    			ci+="@" ;//todo: change the char @
				}
			}
			console.log(results.join("\n"));

			$("textarea#text").val(results.join("\n"));
    }
}
/* The function that processes the content uploaded in the file upload input */
function processFile(e) {
    var file = e.target.result,
        results;
    if (file && file.length) {
        results = file.split("\n");
        var ci = "";
			//todo: use join
			for(var i = 0; i < results.length; i++)
			{
	    		if(results[i].length!= 0)
				{
	    			ci+= results[i];
	    			ci+="@" ;//todo: change the char @
				}
			}
			console.log(results.join("\n"));

			$("textarea#text").val(results.join("\n"));
	    	validate(ci, results);
    }
}

/* called when the form is submitted; call the image */
function validate(ci, ci_s)
{
    var ci_s = $('#text').val().split("\n");
	var ci = "";
	//todo: use join
	ci = ci_s.join("@");
    /*Making of ci_s*/
	var wl = $('#wl').val();		// get the wordlength/FPF
	/* build the query */
	var q = '{{base_url}}Constant/' + ci + '?';
	if (msgValidFPF(wl)=='')
		q = q + 'FPF='+wl;
	else
		q = q + 'WL='+wl;
	/* get the json */
	$.ajax({ url: q}).done( function( data)
	{
		html = "";
		html = "<table style=\"width:100%\">\n";
		html += "<tr>\n<th align = left>Const/Interval</th>\n <th align = left>Mentissa</th> \n<th aligne = left>LSB</th>>\n <th align = left>FPF</th>\n<th align = left>Absolute Error</th>\n<th align = left>Real Error</th>\n <th align = left>Status</th>\n </tr>";
		for(i=0; i < Object.keys(data).length; i++)
		{
		    html += "<tr>"
			html += "<td>" + ci_s[i]+ "</td>";

		    var startStr = "<td>"
		    if(data[i]['error'])
		    {
		        startStr = "<td style=\"color:darkred\">";
		    }
		    else
			{
			    startStr = "<td>";
			}
                html += startStr + data[i]["integer"] + "</td>\n";
                html += startStr + data[i]["lsb"] + "</td>\n";
                html += startStr + data[i]["FPF"] + "</td>\n";
                html += startStr + data[i]["error_abs"] + "</td>\n";
                html += startStr + data[i]["error_rel"] + "</td>\n";
                if(data[i]['error'])
				{
                	html += startStr + data[i]["error"] + "</td>\n";
				}
				else
				{
				    html += startStr + "No error" + "</td>\n";
				}
           		 html += "</tr>";
		}
		html += "</table>";
		/*Table for images: */
		html += "<table style=\"width:100%\">\n";
		html += "<tr>\n<th align = left>Const/Interval</th>\n <th align = left>Image</th></tr>";
		for(i=0; i < Object.keys(data).length; i++)
		{
		    html += "<tr>"
			html += "<td  align = left >" + ci_s[i]+ "</td>";
			if(!data[i]['error'])
			{
                html += "<td  align = left >" + "<a href=\"" + data[i]["FPF_image"] + "\">" + "<img src=" + data[i]["FPF_image"] + " alt=" + "Loading..." + "style=\"width:128px;height:128px;\"	"+"/>" + "</td>\n";
            }
            else
			{
				html += "<td>" + "<p style=\"color:darkred\" >" + data[i]['error'] + "</p>" +"</td>\n";
			}
			html += "</tr>";
		}
		html += "</table>";

		$("#result").html(html);

	});
}


</script>
{% endblock%}


{% block content %}
Blablabla... This page allows to convert a real constant (literal constant or an interval, e.g. <i>0.124</i> or <i>[-100;100]</i>) into a fixed-point representation.

<p>

<div class="container">
	<div>
	<!-- form -->
	<form method="POST" action="javascript:validate();" id="form">
		<label>Constants:</label><br><textarea id="text" class="yesno" style ="overflow:inherit" rows="5" cols="10" oninput='disableUpload()' onkeyup="if(event.keyCode == 13 || event.keyCode == 8) verifyConstIntLines(this); else verifyEachChar(this);"/></textarea></br>
		<label>Or upload the file containing constants and intervals:</label>
		<input type="file" accept = ".txt" name="fileupload" value="fileupload" id="fileupload" onchange='loadTxt()'><br>
		<label for="wl">Word Length enter it here: <input class="yesno" id="wl" type="text" required onkeyup="verifyFPForWL(this);" size="8"/>
		<input type="submit"/> </label>

	</form>
	</div>
	<!--  result -->
	<div id="result">



	</div>
</div>

	</div>
</div>

<!--
	Fixed-Point Representation: <br/>
	The constant is approximated by: <br/>
	Absolute error: <br/>
	Relative error:<br/>
	<div class="r-container">
	<div id="result">
		<img id='FPF_image'><br/>
		{% for img in imageFormats %}
			<a id='a_{{img}}' href=''>{{img}}</a>&nbsp;&nbsp;
		{% endfor %}
		<br/>
		<table border=1><div id='str_latex'></div></table>
	</div>
 -->





{% endblock %}