{% extends "base.html" %}
{% block script %}
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="{{base_url}}useful.js"></script>
<script>

	/* called when the form is submitted; call the image */
    function validate()
    {
		/* build the query */
        var q = queryString("form","FPF");	// build the query
        var fpf = $('#FPF').val();
		/* AJAX call */
        $.ajax({ url: '{{base_url}}FPF/' + fpf + '.json?' +q}).done( function( data)
        {
            if (data["error"])
            {
                $("#result").html("<span style='color:#FF0000'>Error: "+data["error"]+"</span>")
            }
            else
            {
                html = "Interval: " + data["interval"] + "<br/>\n";
                html += "Quantization step: " + data["quantization"] + "<br/>\n";
				/* FPF image */
                html += "<a href=''><img id='FPF_image'></a><br/>\n";
                {% for img in imageFormats %}
                html += "<a id='a_{{img}}' href='" + '{{base_url}}FPF/' + fpf +'.{{img}}?'+q + "'>{{img}}</a>&nbsp;&nbsp;\n";
                {% endfor %}
                html += "<br/>\n";
				/* latex code */
                html += "<button onclick='showLatexCode()'>" + "Latex code:" + "</button>";
                html += "<div id='latex_code' style='display: none'><code>" + data["latex"].split("\n").join("<br/>") + "</code></div>\n";
				/* display the result */
                $("#result").html(html);
				/* load the image */
                $("#FPF_image").attr('src', '{{base_url}}spinner.gif');	/* first load the spinner */
                $("#FPF_image").attr('src', '{{base_url}}FPF/'+fpf+'.jpg?'+q+'&width=400' );		/* and then load the image */
            }
        });
    }

    function showLatexCode()
	{
		document.getElementById("latex_code").style.display="block";
    }


</script>
{% endblock %}

{% block content %}
Blablabla... This page allows to display a Fixed-Point Format, and export it in LaTeX (Tikz), pdf of jpeg.


<div class="container">
	<div style="display:inline-block">
		<h2 class="headings"> Form</h2>
		<form method="POST" action="javascript:validate();" id="form" class="wrapper-FPF">
			<!--<div style="border-color: #0c7fb0; border: px">-->
					<label class="first-heading-FPF-form">The FPF format</label>
					<label for="FPF" class="first-label-FPF-form">Fixed-Point Format: </label>
					<div class="format-input-FPF-form">
						<input class="yesno" id="FPF" type="text" onkeyup="verifyFPF(this);" required  size="7"/>
					</div>
					<label class="explanation-label-FPF-form"> Enter your input format in Q form (example: Q4.9), then choose from the options below.</label>
			<!--</div>-->
				<!--<div class="container2">-->
					<label class="second-heading-FPF-form"><hr>Options</label>
					<div for="notation" class="notation-choice-FPF-form">Notation:
					<select name="notation" style="width: auto; height: 20px">
						<option value="mlsb">MSB/LSB</option>
						<option value="ifwl">integer/fractional parts</option>
					</select>
					</div>

					<div class="checkbox-fract-FPF-form">
						<input type="checkbox" name="intfrac" />Display integer/fractional parts
					</div>

					<div for="colors" class="choice-label-FPF-form">Color:
					<select name="colors" style="width: auto; height: 20px">
						{% for k,c in colors %}
						<option value="{{k}}">{{c[3]}}</option>
						{% endfor %}
					</select>
					</div>

					<div class="checkbox-power2-FPF-form">
						<input type="checkbox" name="power2" />Display power-of-2
					</div>

					<div  class="color-choice-FPF-form">Label:
					<select name="label" style="width: auto; height: 20px">
						<option value="none">None</option>
						<option value="left">Left</option>>
						<option value="right">Right</option>
						<option value="above">Above</option>
						<option value="below">Below</option>
					</select>
					</div>
			<div class="checkbox-binary-FPF-form">
				<input type="checkbox" name="binary_point" checked /> Display binary point
			</div>
			<div class="checkbox-num-vals-FPF-form">
			<input name="numeric" type="checkbox"  />Numerical values (instead of symbolic)
			</div>

		<input type="submit" class="submit-FPF-form"/>
				<!--</div>-->
			<!--</div>-->
		</form>
		<h2 class="headings"> Result</h2>
		<div id="result">
		</div>

	</div>

	<!--<div class="r-container">-->

	<!--</div>-->

</div>

<!-- 
	<img id='FPF_image'><br/>
	{% for img in imageFormats %}
		<a id='a_{{img}}' href=''>{{img}}</a>&nbsp;&nbsp;
	{% endfor %}
	<br/>
	<table border=1><div id='str_latex'></div></table>
 -->




{% endblock %}